.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    &__firstPart {
      width: 100%;
      margin-top: 10rem;

      &__firstContainer {
        width: auto;
        display: flex;
        margin: 0 3rem 3rem 3rem;
        justify-content: space-between;

        &__article {
          margin-bottom: 1rem;
        }

        &__price {
          margin-bottom: 1rem;
        }
      }

      &__secondContainer {
        display: flex;
        margin: 1rem 3rem 4rem 3rem;
        justify-content: space-between;
      }
    }

    &__secondPart {
      width: 100%;

      &__container {
        width: 84%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 2rem 3rem;

        &__firstWrapper {
          width: 90%;
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          &__bagImage {
            width: 12rem;
            height: 12rem;
            background-color: #ffe072;
            padding: 1rem;
            transition: all 0.3s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }

          &__description {
            padding-left: 2rem;
          }

          &__textContent {
            width: 90%;
            margin-top: 2rem;
            margin-left: 3rem;
          }
          &__secondParagraph {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            &__textContent {
              padding-top: 1rem;
            }
          }
        }
      }
      &__secondWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__buttons {
          position: relative;
          margin-right: 0;
          overflow: hidden;
          border: 1px solid #18181a;
          color: #18181a;
          display: inline-block;
          font-size: 15px;
          line-height: 15px;
          padding: 18px 18px 17px;
          text-decoration: none;
          cursor: pointer;
          background: #fff;
          user-select: none;
          touch-action: manipulation;

          span {
            &:first-child {
              position: relative;
              transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
              z-index: 10;
            }
            &:last-child {
              color: white;
              display: block;
              position: absolute;
              bottom: 0;
              transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
              z-index: 100;
              opacity: 0;
              top: 50%;
              left: 50%;
              transform: translateY(225%) translateX(-50%);
              height: 14px;
              line-height: 13px;
            }
          }
          &:after {
            content: '';
            position: absolute;
            bottom: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(183, 212, 232);
            transform-origin: bottom center;
            transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
            transform: skewY(9.3deg) scaleY(0);
            z-index: 50;
          }
          &:hover {
            &:after {
              transform-origin: bottom center;
              transform: skewY(9.3deg) scaleY(2);
            }
          }
          &:hover span {
            &:last-child {
              transform: translateX(-50%) translateY(-50%);
              opacity: 1;
              transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
            }
          }
        }
      }
    }
  }
}

// ! Line to separate the two parts the right side Cart component
.separator {
  width: 84%;
  margin: auto;
  margin-top: 2rem;
  height: 0.2px;
  background-color: #000000;
}
