.App {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.active {
  color: green;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

.home {
  font-size: 16px;
  margin-top: 30px;
}

.home > ul > li {
  display: block;
  padding: 5px;
}
