.form {
  width: 70%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  &__input {
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  &__message {
    color: red;
  }
}
