nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 10px;
  background-color: lightgray;
  padding-bottom: 20px;
}

nav > a,
.logout {
  text-decoration: none;
  font-size: 15px;
  box-shadow: 5px 5px black;
  padding: 5px;
  cursor: pointer;
  border: 0;
  background-color: white;
  color: black;
}
