@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1 {
  font-family: 'Cinzel', serif;
  font-size: 18px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 14px;
}

h3 {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}

nav {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

footer {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
