.homePage {
  display: flex;
  width: auto;
  h3 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    letter-spacing: 6px;
    @media screen and (min-width: 320px) and (max-width: 1026px) {
      position: absolute;
      top: 12%;
      font-size: 35px;
    }
    @media screen and (min-width: 375px) and (max-width: 1026px) {
      position: absolute;
      top: 15%;
      font-size: 40px;
    }
    @media screen and (min-width: 767px) and (max-width: 1026px) {
      position: absolute;
      top: 30%;
      font-size: 45px;
    }
  }
  #logo {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
    z-index: 3;
    @media screen and (min-width: 320px) and (max-width: 1026px) {
      visibility: hidden;
    }
  }
}
