.landingPage {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 246, 242, 1);
}
h3 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  @media screen and (min-width: 320px) and (max-width: 1026px) {
    top: 8%;
    left: 50%;
    font-size: 35px;
  }
  @media screen and (min-width: 375px) and (max-width: 1026px) {
    top: 10%;
    left: 40%;
    font-size: 40px;
  }
  @media screen and (min-width: 767px) and (max-width: 1026px) {
    top: 15%;
    left: 50%;
    font-size: 40px;
  }
}
#logo {
  position: absolute;
  top: 37%;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
  // z-index: -3;
  @media screen and (min-width: 320px) and (max-width: 1026px) {
    visibility: hidden;
  }
}

.fade {
  animation: fade-in-out 5s infinite alternate;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
