.searchContainer {
  max-width: 1300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  z-index: 99;

  &__inputContainer {
    position: absolute;
    margin-top: 7rem;
    z-index: 99;
    display: flex;
    justify-content: center;

    &__input {
      width: 25rem;
    }
  }

  &__displayAll {
    position: absolute;
    margin-top: 11rem;
    z-index: 99;

    &__button {
      z-index: 99;
    }
  }

  &__collectionWrapper {
    min-width: 1100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 12rem;

    &__container {
      &__imageAvailable {
        width: 400px;
        height: 400px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
      &__imageNotAvailable {
        width: 400px;
        height: 400px;
        cursor: not-allowed;
        opacity: 0.6;
      }
      &__available {
        color: rgb(2, 172, 2);
      }
      &__notAvailable {
        color: crimson;
      }
    }
  }
}
