.container__footer{
    border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   background: #f1f1f1;
   color : #333;
   justify-content: space-between;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width : 100%;
    align-items: flex-start;
    padding: 3rem 3rem ;
    // @media screen and (min-width: 320px) and (max-width: 1026px) {
    //     flex-wrap: wrap;
       
    //   }
    //   @media screen and (min-width: 375px) and (max-width: 1026px) {
    //     flex-wrap: wrap;
        
    //   }
    //   @media screen and (min-width: 767px) and (max-width: 1026px) {
    //     flex-wrap: wrap;
       
    //   }

    ul{
        margin:0 auto;
        list-style-type: none; 
    }
   
    a{
        text-decoration: none;
        color: #333;
        vertical-align: 3em;
    } 
}

/* Media Queries */
// @media screen and (min-width: 320px) and (max-width: 1026px) {