// >> Global Navbar
.navbar {
  min-width: 100%;
  transition: all 0.1s linear;
  position: fixed;
  z-index: 99;

  &__ul {
    position: relative;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 2rem;

    &__headerColor {
      position: relative;
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      padding: 2rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.2px);
    }

    &:hover .navbar__dropdown {
      display: block;
    }

    @media all and (max-width: 1020px) {
      display: none;
    }

    &__container {
      width: 40%;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 3rem;
    }
  }

  &__li {
    display: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
  }

  // ! Dropdown-menu position & list-style
  &__dropdown {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 1.4rem;
    z-index: 3;
    transition: all 2s ease-in-out;

    li {
      margin-top: 1rem;
      &:hover {
        color: #ffffff;
      }
    }
  }

  // ! Burger menu position
  .hamburger {
    position: absolute;
    max-width: 20%;
    right: 0;
    display: none;
    display: flex;
    justify-content: end;
    top: 1.3rem;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    padding-right: 2rem;

    @media all and (min-width: 1020px) {
      display: none;
    }
  }

  // ! Hide the burger menu
  .hiddenMenu {
    display: none;
  }

  // ! Reveal the burger menu
  .showMenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    top: 0;
    left: 0;
    background-color: rgb(183, 212, 232);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
  }

  // ! Hamburger menu attributes
  .hamburgerList {
    &__title {
      transition: all 0.3s ease-in-out;
      color: #ffffff;
      @media all and (max-width: 1018px) {
        font-size: 2rem;
      }
      @media all and (max-width: 500px) {
        font-size: 1.3rem;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10rem;
    cursor: pointer;

    &__logo {
      position: absolute;
      width: 20rem;
      height: auto;
      margin-top: 1.2rem;
    }

    &__text {
      font-size: 1rem;
      color: white;
      font-weight: bold;
    }
  }
}
