.newsletter {
  padding: 2rem 16vw;

  @media screen and (min-width: 300px) and (max-width: 1020px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
  }
}

.newsletter form {
  margin: 20px 0;
  display: flex;
  @media screen and (min-width: 300px) and (max-width: 1020px) {
    display: flex;
    flex-direction: column;
  }
}
.newsletter form input {
  height: 40px;
  width: 17vw;
  padding: 0 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 1rm;

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 1020px) {
    margin-bottom: 20px;
  }
}
.newsletter form button {
  height: 40px;
  width: 5rem;
  color: white;
  background-color: red;
  border: none;
}
